*{
	outline: none;
}

html, body{
	height: 100%;
	width: 100%;
	min-width: 450px;

	background-color: #111;
	font-family: sans-serif;
}

.logo{
	width: 100%;

	text-align: center;
}

.logo img{
	width: 30%;
	min-width: 200px;

	margin-top: 50px;
}

.form{
	text-align: center;
}

.form input{
	margin: 10px;
}

.form input[type=url]{

	width: 90%;
	max-width: 500px;

	font-size: 110%;

	border: 5px solid #fff;
	border-radius: 5px;
}

.form input[type=submit]{
	padding: 10px 15px 10px 15px;

	color: #FFF;
	font-weight: bold;
	font-size: 120%;

	background-color: rgba(255, 128, 0, 0.9);

	border: none;
	border-radius: 5px;

	cursor: pointer;
}

.form input[type=submit]:hover{
	background-color: rgba(255, 128, 0, 0.8);
}

.form input[name=regenerate]{
	display: none;
}
